.App {
  text-align: center;
}

.board-container {
  width: 150px;
  height: 150px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.cell {
  min-width: 50px;
  height: 50px;
  border: black solid 1px;
  box-sizing: border-box;

}

.cell:hover {
    background-color: #ddd;
    cursor: -webkit-grab;
 }

.cell[data-player="1"]{
  background-color: #ddd;
}

.cell[data-player="1"]::after {
  content: "X";
  font-size: 2em;
}

.cell[data-player="2"]{
  background-color: #ddd;
}

.cell[data-player="2"]::after {
  content: "O";
  font-size: 2em;
}